<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofintrimestre_alejandromoles">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinTrimestre_AlejandroMoles">
        <activity
            android:name=".Vistas.Preferencias"
            android:parentActivityName=".Vistas.Ventana_Principal" />
            android:exported="true" />
        <activity
            android:name=".Vistas.VentanaDetalles"
            android:exported="true"
            android:parentActivityName=".Vistas.Ventana_Principal" />
        <activity
            android:name=".Vistas.Perfil"
            android:exported="true" />
        <activity
            android:name=".Vistas.Ventana_Principal"
            android:exported="true" />
        <activity
            android:name=".Vistas.PantallaRegistrarse"
            android:exported="true" />
        <activity
            android:name=".Vistas.Pantalla_Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>